* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  max-width: 1140px;
  padding: 0;
  margin: 0 auto;
}

.fetured_link {
  text-decoration: none;
  display: block;
}
/* header - start*/

header {
  display: flex;
  width: 100%;
}
.container-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
}
header nav {
  background-color: #222222;

  list-style: none;
  width: 100%;
  max-height: fit-content;
}

.leftNav {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.logo {
  width: 44px;
  height: 38px;
  display: flex;
  margin-right: 35px;
}

.search {
  display: flex;
}

.search:hover #search_input {
  position: absolute;
  display: flex;
  transition: all 0.5s;
}

#search_input {
  display: none;
}

.rightNav {
  display: flex;
  align-items: center;
}
.rightNav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.rightNav li {
  margin: 0 15px;
}
.rightNav li:first-child {
  margin-left: 0px;
}
.rightNav li:last-child {
  margin-right: 0px;
}
.mega-box2 {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  top: 22px;
  display: none;
  z-index: 1;
  width: 100px;
  height: 200px;
}

.mega-box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  top: 22px;
  display: none;
  z-index: 1;
  width: 232px;
  height: 764px;
}
.mega-link {
  display: block;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding-left: 15px;
  margin-bottom: 11px;
}
.mega-link:hover {
  color: #f16d7f;
}
.burger {
  position: relative;
}
.burger2 {
  position: relative;
}
.burger2:hover .mega-box2 {
  display: block;
}
.burger:hover .mega-box {
  display: block;
}
.mega-item h6 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.mega-item h5 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}
@media (max-width: 375px) {
  .rightNav li:last-child,
  .rightNav li:nth-child(2) {
    display: none;
  }
}

/* header - end */

/* head section - start */

.head_section {
  height: 764px;
  background-color: #f1e4e6;
}
.container-head-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_head_man {
  height: 764px;
  background: url(../img/section_head_man.png) no-repeat center;
  background-size: cover;
  width: 800px;
}
.main_title {
  border-left: 12px solid #f16d7f;
  height: 105px;
  width: 50%;
}

h1,
h2 {
  padding-left: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.fashion {
  color: #f16d7f;
}
@media (max-width: 768px) {
  .section_head_man {
    width: 386px;
    height: 386px;
  }
  h1,
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 375px) {
  .section_head_man {
    display: none;
  }
  h1,
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
  .main_title {
    border-left: 12px solid #f16d7f;
    height: 100px;
  }
}

/* head section - end */

/* card section - start */

ol,
ul {
  padding-left: 0;
}
.card-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-link + .card-link {
  margin-left: 0;
}

.card_section ul {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  max-width: 1140px;
  flex-wrap: wrap;
}

.card_section ul li {
  list-style-type: none;
  text-align: center;
  width: 360px;
  min-height: 260px;
  margin: 0px 30px;
  display: flex;
  flex-wrap: wrap;
}
.card_section ul li:first-child {
  margin-right: 0px;
}
.card_section ul li:last-child {
  margin-left: 0px;
}
.card_desc {
  margin: auto;
}
.card-link:hover h3 {
  transform: scale(1.2);
}

.card_1 {
  background-image: linear-gradient(
      rgba(33, 22, 22, 0.45),
      rgba(33, 22, 22, 0.45)
    ),
    url(../img/for_women.png);
}

.card_2 {
  background-image: linear-gradient(
      rgba(33, 22, 22, 0.45),
      rgba(33, 22, 22, 0.45)
    ),
    url(../img/for_men.png);
}
.card_3 {
  background-image: linear-gradient(
      rgba(33, 22, 22, 0.45),
      rgba(33, 22, 22, 0.45)
    ),
    url(../img/for_kids.png);
}

.card_desc p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.card_desc h3 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.accesories {
  display: flex;

  text-align: center;
  margin-top: 30px;
  width: 1140px;
  height: 180px;
  background-image: linear-gradient(
      rgba(33, 22, 22, 0.45),
      rgba(33, 22, 22, 0.45)
    ),
    url(../img/accesories.png);
}
@media (max-width: 768px) {
  .card_section ul {
    justify-content: center;
  }
  .card_section ul li {
    margin: 5px auto;
  }
  .accesories {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .card_section ul {
    flex-direction: column;
    align-items: center;
  }
  .accesories {
    width: 100%;
  }
  .card_section ul li {
    margin: 5px auto;
  }
}

/* card section - end */

/* fetured_items section - start */

.fetured_items {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 40px;
}

h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.fetured_items p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.fetured_items_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fetured_wrapper {
  width: 1140px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-image {
  width: 360px;
  height: 420px;
  transition: all 0.5s;
}

.fetured_item {
  background-color: #f8f8f8;
  flex-basis: 30%;
  margin-right: 20px;
  margin-top: 30px;
  padding-bottom: 20px;
  position: relative;
}
.fetured_item:hover .item-image {
  filter: brightness(0.8);
}
.fetured_item:hover .add-box {
  display: flex;
}
.add-box {
  position: absolute;
  top: 158px;

  justify-content: center;
  width: 100%;
  display: none;
}
.add {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.add:hover {
  box-shadow: 0 0 5px #fff;
}
.add-txt {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 8px;
}
.fetured_desc {
  margin: 15px 0px 0px 15px;
}

.fetured_desc h5 {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #000000;
}
.fetured_desc p {
  text-align: left;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: #5d5d5d;
}
.fetured_desc h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-top: 20px;
}

.browse_button {
  display: flex;
  justify-content: center;
  margin: 50px 0px 95px 0px;
}
button.browse {
  border: 1px solid #ff6a6a;
  color: #f26376;
  padding: 15px 40px;
  background: #ffffff;
  transition: all 0.5s;
}
button.browse:hover {
  cursor: pointer;
  border: 1px solid #ff6a6a;
  color: #ffffff;
  padding: 15px 40px;
  background: #ff6a6a;
}
@media (max-width: 375px) {
  .fetured_item {
    margin: 5px auto;
  }
}

/* fetured_items section - end */

/* about section - start */

.about {
  background-color: #222224;
  width: 100%;
}
ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
}
.about .grid li {
  width: 360px;
  margin-right: 30px;
  /* flex-basis: 33%; */
  padding-top: 105px;
  list-style-type: none;
  text-align: center;
  padding-bottom: 105px;
}
.about h4 {
  margin-top: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}
.about p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  margin-top: 16px;
}
.about .grid li img {
  width: 50px;
  height: 50px;
}

/* about section - end */

/* feedback section - start */

.feedback {
  height: 448px;
  background: url(../img/feedback_bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(244, 244, 244, 0.7);
}
.feed_main {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.feed {
  text-align: center;
  width: 360px;
  padding-top: 97px;
}

.feed p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
}

.feed p ita {
  font-style: italic;
}

.subscribe {
  padding-top: 150px;
}
.subscribe_desc h3,
p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.subscribe_desc h3 {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.subscribe_desc p {
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
}
.subscribe_form {
  margin-top: 32px;
}

#enter_email {
  width: 256px;
  padding: 15px;
  background: #e1e1e1;
  margin: 0px;
  border: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
}
.subscribe_button {
  margin: 0px;
  border: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #ffffff;
  background-color: #f16d7f;
  padding: 0px 15px;
  transition: all 0.5s;
}
.subscribe_button:hover {
  color: #f16d7f;
  background-color: #fff;
}
.row-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .feed_main {
    flex-direction: column;
  }
  .feedback {
    height: 693px;
  }
  .feed,
  .subscribe {
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  input {
    width: 180px;
  }
  .subscribe {
    padding-top: 60px;
  }
  .subscribe_desc h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}

/* feedback section - end */

/* footer - start */

footer {
  background: #222224;
  height: 79px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social_buttons ul {
  display: flex;
  align-items: center;
}

.social_button {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background: #ffffff;
  width: 32px;
  height: 32px;
  margin: 7px;
}
.social_button:hover {
  background: #f16d7f;
}
.social_button {
  color: black;
}
.social_button:hover {
  color: white;
}
.copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
@media (max-width: 375px) {
  footer {
    flex-direction: column-reverse;
  }
  .social_buttons:nth-child(2) .social_button {
    display: flex;
  }
}

/* catalog_head - start */
.catalog_head {
  background-color: #f8f3f4;
}
.container-catalog-flexin {
  display: flex;
  justify-content: space-between;
}
.catalog_head_left {
  color: #f16d7f;
  padding: 60px 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
.catalog_head_right {
  margin: auto 0;
}
.catalog_link {
  margin-right: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;

  color: #636363;
}
.catalog_link:hover {
  color: #f16d7f;
}
.last_link {
  color: #f16d7f;
}
.catalog-container-flexin {
  display: flex;
}
.left-menu-filter[open] {
  color: #f16d7f;

  box-shadow: 0px 0px 8px 0px rgba(193, 193, 193, 0.2);
  transition: 0.5s all;
}

.left-menu-filter[open] summary {
  border-left: 4px solid #f16d7f;
  padding-top: 5px;
  padding-left: 5px;
}
.catalog_filter {
  margin-top: 35px;
}
.catalog_filter_center {
  flex-grow: 4;
}
.catalog_filter_left {
  flex-grow: 3;
  position: relative;
}
.catalog_list {
  display: flex;
  list-style-type: none;
}
.catalog_list li {
  margin-right: 5px;
}

.checkbox-item {
  display: flex;
  align-items: center;
}

.catalog_filter_accordion {
  display: none;
}

.catalog_filter_left:hover .catalog_filter_accordion {
  display: block;
  position: absolute;
  top: 10;
  z-index: 1;
}

.product_head {
  background-color: #f7f7f7;
  width: 500px;
  margin: 0 auto;
}
.product_all {
  background-color: #f7f7f7;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.product_cart {
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 65px 0px;
  margin-top: -50px;
  z-index: 1;
}
.product_cart_head h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f16d7f;
  padding: 0;
  margin-bottom: 12px;
}
.product_header h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4d4d4d;
  padding: 0;
  margin: 0;
  margin-top: 12px;
}
.product_desc {
  margin-top: 49px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  padding: 0px 290px;
}
.price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ef5b70;
  margin: 32px;
}
.product_line {
  background-color: #ef5b70;
  width: 63px;
  height: 3px;
  margin: 0 auto;
}

.choose {
  margin-top: 130px;
  text-align: center;
}
.red_cart {
  margin-top: 50px;
  text-align: center;
}
.red_cart_link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #f26376;
  padding: 10px;
  text-decoration: none;
  transition: all 0.5s;
}
.red_cart_link:hover {
  color: #f26376;
  box-shadow: 0 0 10px #f26376;
}
.red_cart_link img {
  margin-right: 15px;
}

.cart_image {
  width: 262px;
  height: 306px;
  float: left;
}
.cart_list {
  list-style-type: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin-left: 20px;
  color: #575757;
}
.cart_left {
  margin-top: 96px;
}
.cart_item {
  width: 652px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 5px 6px 6px 0px rgba(47, 47, 47, 0.1);
  position: relative;
}

.cart_item_close {
  display: flex;
  position: absolute;
  top: 6%;
  right: 5%;
}

.cart_list_title {
  margin-bottom: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  color: #222222;
}
.cart-container-flexin {
  display: flex;
  justify-content: space-between;
}
#quantity {
  border: 1px solid #eaeaea;
  padding-left: 10px;
  margin-left: 25px;
  width: 40px;
  display: inline;
}

.shipping_adress {
  margin-top: 113px;
}
.shipping_adress input {
  margin-top: 10px;
  width: 360px;
  height: 45px;
  border: 1px solid #a4a4a4;
  padding: 15px;
}
.shipping_adress input::placeholder {
  color: #b1b1b1;
}
.shipping_adress h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-left: 0;
  padding-left: 0;
  color: #222222;
}
.quote {
  margin-top: 34px;
}
.quote_button {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  padding: 15px;
  transition: all 0.5s;
}

.quote_button:hover {
  color: #ffffff;
  background-color: #f16d7f;
}
.proceed_check {
  margin-top: 60px;
  padding-top: 39px;
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
}
.sub_total {
  text-align: right;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;

  color: #4a4a4a;
  margin-bottom: 12px;
}
.grand_total {
  text-align: right;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #222222;
}

.sub_total span {
  margin-left: 30px;
}
.grand_total span {
  font-weight: 700;
  margin-left: 30px;
}
.proceed_to_checkout {
  text-decoration: none;
  background-color: #f16d7f;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 15px 40px;
  border: 1px solid transparent;
  transition: all 1s;
}
.proceed_to_checkout:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.check_container {
  width: 275px;
  margin: 0 auto;
}

hr.line_check {
  margin-bottom: 27px;
  width: 270px;
}
.shopping_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 70px;
}
.shopping_button {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  padding: 16px 40px;
  transition: all 0.2s;
  background-color: #ffffff;
}
.shopping_button:hover {
  border: 1px solid #ffffff;
  color: #fff;
  background-color: #f16d7f;
}

.reg_cont {
  display: flex;
  justify-content: space-between;
}

.reg_your_name {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #222222;
  margin-left: 0;
  padding-left: 0;
  margin-top: 64px;
  margin-bottom: 20px;
}
.reg_left input[type="text"],
input[type="email"],
input[type="password"] {
  margin-top: 10px;
  width: 360px;
  height: 45px;
  border: 1px solid #a4a4a4;
  padding: 15px;
  display: block;
  margin-bottom: 20px;
  outline: none;
}
.reg_left input::placeholder {
  color: #b1b1b1;
}

.reg_left input[type="radio"] {
  margin: 30px 5px 15px;
  width: 17px;
  height: 17px;
}
.reg_left label {
  margin-left: 10px;
  margin-right: 20px;
}
.reg_your_name2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #222222;
  margin-left: 0;
  padding-left: 0;
  margin-top: 35px;
  margin-bottom: 20px;
}
.reg_left p {
  width: 359px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #b1b1b1;
}

.join_button {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  background-color: #f16d7f;
  padding: 15px 35px;
  display: block;
  width: 167px;
  height: 50px;
  text-transform: uppercase;
  margin-top: 39px;
  margin-bottom: 96px;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.join_button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
  background: #fff;
}
.reg_right {
  margin-left: 128px;
}
.reg_right h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 64px;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 22px;
}
.reg_right p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}
.reg_right ul {
  margin-top: 21px;
}
.reg_right li {
  list-style-type: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
  margin-bottom: 16px;
}
.reg_right i {
  margin-right: 23px;
}

.left-menu {
  width: 360px;
  position: absolute;
}
.left-menu-filter {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  transition: 0.5s all;
}

.left-menu-filter > summary {
  list-style: none;
}
.left-menu-filter > summary::-webkit-details-marker {
  display: none;
}
.head-filter {
  display: flex;
  align-items: center;
  height: 37px;
  padding-left: 5px;
  color: #f16d7f;
  margin-top: 5px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #cccc;
}
.head-filter:hover {
  font-weight: 500;
}
.cat-menu-way {
  color: #6f6e6e;
  padding-left: 40px;
  padding-top: 15px;
  margin-bottom: 0px;
  text-decoration: none;
  display: block;
  line-height: 0;
}
.cat-menu-way:hover {
  font-weight: 500;
  color: #f16d7f;
}

.pag-box {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
.pagination {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a {
  color: #ccc;
}
.pagination a:hover {
  color: #f16d7f;
}
.pag-button a {
  color: black;
}
.pag-list {
  margin: 15px;
}
.pag-list li {
  display: inline-block;
  padding-right: 5px;
}
.pag-link {
  color: grey;
}
.pag-link a {
  text-decoration: none;
}
.active a {
  color: #f16d7f;
}
